![picture](https://lh5.googleusercontent.com/3gK4qlljbD8APqYCbmXHh45g3bNFTVURIbFWp9dyAHk9zLBiKxOBjqatngyoApTMCbM=w2400)

# **I. Python Basics XXX**

## **1.1. Types od data**

A type is how Python represents different types of data. You can have different types in Python. They can be integers like 11, real numbers like 21.213, they can even be words. Integers, real numbers, and words can be expressed as different data types. The following chart summarizes three data types for the last examples. The first column indicates the expression. The second column indicates the data type. We can see the actual data type in Python by using the **type** command. We can have **int**, which stands for an **integer** and **float** that stands for float, essentially a **real number**. The type **string** is a **sequence of characters**.

| type(11)                 | int   | integer                |
|--------------------------|-------|------------------------|
| type(21.26)              | float | float                  |
| type('Hello Python')     | str   | sequence of characters |
    
Integers can be negative or positive. It should be noted that there is a finite range of integers but it is quite large. Floats are real numbers. They include the integers but also numbers in between the integers. Consider the numbers between 0 and 1. We can select numbers in between them. These numbers are floats. Similarly consider the numbers between 0.5 and 0.6. We can select numbers in between them. These are floats as well.

You can change the type of the expression in Python, this is called typecasting. You can convert an int to a float. For example, you can convert or cast the integer 2 to a float 2.0. Nothing really changes, if you cast a float to an integer, you must be careful. For example, if you cast the float 1.1 to 1, you will lose some information. If a string contains an integer value, you can convert it to int. If we convert a string that contains a non-integer value, we get an error. You can convert an int to a string or a float to a string.

In [1]:
int(5) , int(1.1) , int("8") ,  int(6.9)

(5, 1, 8, 6)

In [2]:
float(4) , float(1.1) , float("6.3") , float(4.9) , float("6")

(4.0, 1.1, 6.3, 4.9, 6.0)

In [3]:
str("1") , str('ren') , str('6.9')

('1', 'ren', '6.9')

Boolean is another important type in Python. A Boolean can take on two values. The first value is True, just remember we use an uppercase T. Boolean values can also be False with an uppercase F. Using the type command on a Boolean value, we obtain the term bool. This is short for Boolean, if we cast a Boolean True to an integer or float, we will get a 1. If we cast a Boolean False to an integer or float, we get a 0. If you cast a 1 to a Boolean, you get a True. Similarly, if you cast a 0 to a Boolean, you get a False.

![picture](https://lh3.googleusercontent.com/lQcWZJsDgr0B-Iip7zEuAUbxcuU5RUi_VTyfHqWntPTK7WJV_69QpW9nGeUesD7em1s=w2400)

In [4]:
type(True) , type(False), int(True), int(False) #Remenber use upper T or F

(bool, bool, 1, 0)

### **1.1.1. Expressions and Variables**

-   **What’s is expression?**

    Expressions describe a type of operation the computers perform. Expressions are operations the python performs. For example, basic arithmetic operations like adding multiple numbers. The result in this case is 160. We call the numbers operands, and the math symbols in this case, addition, are called operators.

-   **What’s the order of operations in python?**
    
    The following operations are in a different order. In both cases, Python performs multiplication, then addition, to obtain the final result. We will also be covering more complex operations throughout he course. The expressions in the parentheses are performed first. We then multiply the result by 60. The result is 1,920.

-   **Variables in python?**

    We can use variables to store values. In this case, we assign a value of 1 to the variable my_variable using the assignment operator, i.e, the equal sign. We can then use the value somewhere else in the code by typing the exact name of the variable.

    We will use a colon to denote the value of the variable. We can assign a new value to my_variable using the assignment operator. We assign a value of 10. The variable now has a value of 10.

    We call the variable, that contains the total number of minutes, total_min. It's common to use the underscore to represent the start of a new word. You could also use a capital letter. We call the variable that contains the total number of hours, total_hour. We can obtain the total number of hours by dividing total_min by 60. The result is approximately 2.367 hours. If we modify the value of the first variable, the value of the variable will change. The final result values change accordingly, but we do not have to modify the rest of the code.

In [5]:
x = 43+60+16+41

In [6]:
my_variable = 1 #change value to 10
print(my_variable)

1

In [7]:
my_variable = 10
print(my_variable)

10

In [8]:
x = 43+60+16+41
print(x)
y = x/60
print(y)

160
2.6666666666666665

In [9]:
total_min = 43+42+57

In [10]:
total_min = 43+42 # Chage value of variable total_min"

In [11]:
total_hr = total_min/60   #print new result for variable total_hr
print(total_hr)

1.4166666666666667

### **1.1.2. String Operations**

In Python, a string is a sequence of characters. A string is contained within two quotes. You could also use single quotes. A string can be spaces or digits. A string can also be special characters. We can bind or assign a string to another variable.

"Michael Jackson" or 'Michael Jackson'
name = "Michael Jackson"

-   **Index of a string**

    It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers. The first index will always be 0, you can access the index six that will be 'l' and the index 13 that will be 'o'.
 
    **The brackets ([ ]) allow us to access any element within a string.**

    ![picture](https://lh6.googleusercontent.com/BWZf64Fyrb5B3RNoqyFFgwvjzmMr_5Gro0znhsyam06DR85UJiCJwZdFM8nxnUvxFiI=w2400)

    We can also use negative indexing with strings. The last element is given by the index negative one. The first element can be obtained by index negative 15 and so on.
    
    ![picture](https://lh5.googleusercontent.com/ngMvxue4HQoBwhLwgYGyhQ2BsguhXWr4GcXFCUnlA_mKhMrtcIUHGLHE60W96IH1clw=w2400)

In [12]:
name = "Michael Jackson"
print(len(name))   # We can use the len command to obtain the length of the string.
name [0], name [6] , name [13], name [-15], name [-7] , name [-1]

15

('M', 'l', 'o', 'M', 'J', 'n')

In [13]:
info = "python"
print(info)
print('||||||')
print('012345')
print('||||||')
print('-6-5-4-3-2-1')

python
||||||
012345
||||||
-6-5-4-3-2-1

In [14]:
print(len(info))
print(info[0]) # el primer elemento
print(info[3],info[5]) # el cuarto y sexto elemento
print(info[-1]) # ultimo elemento
print(info[-2]) # el penultimo elemento

6
p
h n
n
o

-   **Index and segment a string**

      Instead of extracting a single element, we can extract a block also with brackets ([ ]).
      We can also input a stride value as follows: The two indicates we'd select every second variable. We can also incorporate slicing. In this case, we return every second value up to index four.

In [15]:
name[0:4], name[8:12] , name[::2] , name[0:5:2]

('Mich', 'Jack', 'McalJcsn', 'Mca')

In [16]:
print(info[len(info)-1]) # Calcular la última letra de info
print(info[0:5:2]) # paso = 2 (de dos en dos)

n
pto

-   **Sequence of operations with strings**

    We can bind a string to another variable. It is helpful to think of string as a list or tuple. We can treat the string as a sequence and perform sequence operations. This means you cannot change the value of the string, but you can create a new string. For example, you can create a new string by setting it to the original variable and concatenate it with a new string. The result is a new string that changes from Michael Jackson to Michael Jackson is the best. Strings are immutable. Back slashes represent the beginning of escape sequences.

In [17]:
name = "Michael Jackson"
statement = name + " is the best"
print(statement)
3*"Michael Jakson "

Michael Jackson is the best

'Michael Jakson Michael Jakson Michael Jakson '

In [18]:
print(",".join("ABCDE")) ,
print("->".join("ABCDE")) ,
print("|" + "|".join("123") + "|")
print("|" + "-" * 3)
print(("|" + "-" * 3) * 10 + "|")
print("|"+"=" * 1+"|")
print("|"+"=" * 2+"|")
print("|"+"=" * 3+"|")
print("|"+"=" * 4+"|")
print("|"+"=" * 5+"|")
print("|"+"=" * 6+"|")
print("|"+"=" * 7+"|")

A,B,C,D,E
A->B->C->D->E
|1|2|3|
|---
|---|---|---|---|---|---|---|---|---|---|
|=|
|==|
|===|
|====|
|=====|
|======|
|=======|

In [19]:
info="abcdef"
len(info)
print(info[2:5:3])

c

In [20]:
cadena_invertida = info[::-1]
print(cadena_invertida)

fedcba

-   **Find and slipt**

    We can split a variable that has several words and then search each word separately.

In [21]:
phrase = "Hellow world , my name is Pyhon"
x = phrase.split(" ")
print(x) #or
phrase.split(" ")

['Hellow', 'world', ',', 'my', 'name', 'is', 'Pyhon']

['Hellow', 'world', ',', 'my', 'name', 'is', 'Pyhon']

In [22]:
type(x)

list

In [23]:
print(x[3]), 
print(x[3:5])

my
['my', 'name']

In [24]:
phrase2 = "Hellow,world,my,name,is,Pyhon"
phrase2.split(',')

['Hellow', 'world', 'my', 'name', 'is', 'Pyhon']

In [25]:
x = "1|2|3"
print(x.split("|"))

['1', '2', '3']

-   **Escape sequences**

    Back slashes represent the beginning of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

In [26]:
# New line escape sequence
print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [27]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [28]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [29]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

In [30]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [31]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [32]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [33]:
# If cannot find the substring in the string. If the sub-string is not in the string then the output is a negative one. For example, the string 'Jasdfasdasdf' is not a substring:

name.find('Jasdfasdasdf')

-1

###  **Ejercicio 1: Implementar un programa que calcule la edad de una persona al ingresar su fecha de nacimiento en formato DD/MM/YY.**

Ejemplo: 

```
Ingrese su fecha de nacimiento: 12/02/2005
Su edad es 17
```

In [34]:
date = input("Ingrese su fecha de nacimiento en el siguiente fomrato DD/MM/YYYY")
age = date.split("/")
print(age)
result = 2022 - int(age[2])
print('Su edad es: ',result)

['19', '06', '1997']
Su edad es:  25

### **Ejercicio 2: Implemente un programa que solicite ingresar un número entero positivo y que retorne si el número es múltiplo de 3.**

Ejemplo: 

```
Ingrese el numero: 18
El numero 18 es multiplo de 3
```

In [35]:
n = int(input("Ingrese numero a determinar multiplicidad"))
a = int(input("Ingrese numero base "))
result = n%a == 0
print(n)
print(a)
print(n%a)
print(result)
print("El numero", n , "no"*(1-result), "es multiplo de",a)

92
2
0
True
El numero 92  es multiplo de 2